*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:white;
    z-index: 1;
    
    
}
.navbar__s1__title{
    color:#812AD4;
}
.navbar__s2{
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s4{
    display:none;
}
.mylearning{
    position: relative;
    cursor: pointer;

}

.mylearning__popup{
    position:absolute;
    background-color: white;
    border: 2px solid black;
    width: 100px;
    top: 150%;
    right: 0;
    padding: 20px;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;

}
.catagories{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: 1px solid black;}

.catagories p{
        background-color:#812ad4;
        color: white;
        padding: 10px;
        border-radius: 30px;
        border:2px solid #812AD4;
    }
    .catagories p:hover{
        background-color: transparent;
        transition: 1s;
        color: #812AD4;
        border:2px solid #812AD4;
    }
    .sale-image img{
        width: 100%;
        
    }
    .sale-image{
        position:relative;
    }
    .sale-image__offer{
        width:35%;
        background-color: white;
        border: 1px solid black;
        position: absolute;
        top: 20%;
        left: 5%;
        padding: 2%;
        animation-name: zoom;
        animation-duration: 2s;
        opacity: 0;
        animation-fill-mode: forwards;
    }
    @keyframes zoom{
        0%{
            transform: scale(0);
            opacity: 0; 

        }
        100%{
            transform: scale(1);
            opacity: 1;


        }
    }

.recommended{
    padding: 10px;
}
.recommended__container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}
.course-card{
    flex-basis: 20%;
    flex-grow: 1;
    margin: 5px;

}
.course-card img{
    width: 100%;
    height: 50%;
}
.topics{
margin: 10px;
}
.topics__container{
display: flex;
gap: 10px;
margin-top: 10px;
flex-wrap: wrap;

}
.topics__container p{
    border: 2px solid grey;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
.footer{
    background-color: black;
    color: white;
    padding: 30px;
    
}
.footer__one p{
    margin: 20px;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__two{

    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center ;

}
@media screen and (max-width:800px){
    body{
        font-size: 10px;
    }
}
@media screen and (max-width:600px) {
    .course-card{
        flex-basis: 40%;
        flex-grow: 1;
    }
    .catagories{
        display: none;
    }
    .navbar__s3{
        display: none;
    }
    .navbar__s4{
        display: block;
    }
    .navbar__s2{
        width:30%
    }
    .navbar__s2 input{
        font-size: 10px;
    }


}